<h1>productos en tiempo real</h1>

<div id="products-list">
    {{#each products}}
        <div>
            <p><strong>{{this.title}}</strong> - Stock: {{this.stock}}</p>
            <button onclick="deleteProduct('{{this.id}}')">eliminar</button>
        </div>
    {{else}}
        <p>no hay productos para mostrar.</p>
    {{/each}}
</div>

<hr>

<h2>agregar producto</h2>
<form id="add-product-form">
    <input type="text" name="title" placeholder="titulo" required>
    <input type="text" name="description" placeholder="descripcion" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="code" placeholder="codigo" required>
    <input type="number" name="stock" placeholder="stock" required>
    <input type="text" name="category" placeholder="Categoria" required>
    <button type="submit">Agregar!</button>
</form>

<!-- importamos el cliente de socket -->
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    // ctualizar la lista de productos
    const productsList = document.getElementById('products-list');
    
    socket.on('server:updateProducts', (products) => {
        let productsHTML = '';
        products.forEach(product => {
            productsHTML += `
                <div>
                    <p><strong>${product.title}</strong> - Stock: ${product.stock}</p>
                    <button onclick="deleteProduct('${product.id}')">eliminar</button>
                </div>
            `;
        });
        productsList.innerHTML = productsHTML || '<p>no hay productos</p>';
    });

    // enviar el formulario de nuevo producto
    const addProductForm = document.getElementById('add-product-form');
    addProductForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(addProductForm);
        const newProduct = {
            title: formData.get('title'),
            description: formData.get('description'),
            price: Number(formData.get('price')),
            code: formData.get('code'),
            stock: Number(formData.get('stock')),
            category: formData.get('category'),
        };
        socket.emit('client:newProduct', newProduct);
        addProductForm.reset();
    });

    //  eliminar un producto
    function deleteProduct(productId) {
        socket.emit('client:deleteProduct', productId);
    }
</script>